extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/Crypto portfolio-rafiki.svg",alt="imagen sobre nosostros" , class="img-fluid")
            .col-md-7
                h1=pagina 
                blockquote Ordena tus finanzas en un único espacio, recibe asesoría y accede a ofertas financieras hiper-personalizadas a tu necesidad
                p Te permite acceder a toda tu información financiera desde un único espacio, con seguridad de siempre
                p Generador de información analítica de saldos, movimientos y comparativo de ingresos vs gastos, para una adecuada gestión de las microfinanzas. ​
                p Evaluador la situación actual para la obtención del crédito; por otro lado, generar planes de ahorro para alcanzar el mismo.​
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" , alt="icono seguridad" , class= "img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nuestros proveeedores Open Banking se ajusta a los standares de seguridad mas exigentes, soportados por la regulacion de nuestro Banco
                .col-md-4
                    img(src="img/icono_precios.svg" , alt="icono seguridad" , class= "img-fluid mb-4")
                    h2.mb-4 Centralizacion 
                    p podemos traer la informacion financiera de los bancos mas importantes del Peru
                .col-md-4
                    img(src="img/icono_destinos.svg" , alt="icono seguridad" , class= "img-fluid mb-4")
                    h2.mb-4 GigEconomy 
                    p Soporte Financiero a los ingresos Irregulares e insurtech a la necesidad del bienestar independiente