footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/Nosotros") Nosotros
                a.nav-link(href="/Registrate") Registrate
                a.nav-link(href="/TusDatos") Tus Datos
        .col
            p.copyrigth.text-center.text-md-rigth
                | Todos los derechos reservados MdN Datalabs
                span= actualYear