header 
    
    div.navegacion
        .container
            .row.justufy-content-center.justify-content-md-between.aling-items-center.py-4
                .col-md-4.col-6
                    a(href="/Nosotros") 
                        img(src="/img/Revenue-bro.svg" , alt="sitio logo")
                .col-md-4.col-8
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                        a.nav-link(href="/Nosotros") Nosotros
                        a.nav-link(href="/Registrate") Añade Tu Banco
                        a.nav-link(href="/TusDatos") Tus Datos
                        
