doctype html
html(lang='en')
    head
        title Piloto BdD
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Roboto:wght@300&display=swap' rel='stylesheet')
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        script(src='https://cdn.belvo.io/belvo-widget-1-stable.js' async='')

    body
        include header
        block contenido

        include footer
